.follow {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.icons {
    display: flex;
    gap: 12px;
}

.icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #111;
    font-size: 14px;
}