.section {
    width: 100%;

    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 60px;
    margin: 80px 0;
}

/* MAP */

.mapWrapper {
    width: 100%;
    height: 420px;
    max-width: 1200px;
    margin: auto;
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
}

/* GALLERY */

.galleryWrapper {
    width: 70%;
    margin: auto;
}

.gallery {
    display: grid;
    gap: 24px;
}

/* Desktop */
@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .galleryWrapper {
        width: 85%;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 767px) {
    .galleryWrapper {
        width: 95%;
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .mapWrapper {
        height: 300px;
    }
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}