.section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #f2f2f2;
    gap: 40px;

    padding: 100px 0 80px;
}

/* LEFT SIDE */
.info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContent {
    max-width: 520px;
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
}

.description {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
    color: #555;
}

.contact {
    font-size: 18px;
    margin-bottom: 16px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* RIGHT SIDE FORM */
.formWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    margin: auto;
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Inputs */
.form input,
.form select,
.form textarea {
    width: 90%;
    padding: 14px 16px;
    border-radius: 10px;
    border: none;
    background: #e9e9e9;
    font-size: 14px;
    outline: none;
}

.form textarea {
    min-height: 120px;
    resize: none;
}

/* Select button style */
.form select {
    appearance: none;
    background: #111;
    width: 97%;
    color: #fff;
    cursor: pointer;
}

/* Submit button */
.form button {
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.form button:hover {
    opacity: 0.85;
}

/* Responsive */

@media (max-width: 900px) {
    .section {
        flex-direction: column;
        
    }

    .title {
        font-size: 34px;
    }

    .form {
        margin-top: 40px;
    }
}