.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    /* background: #fff; */
    font-family: inherit;
}

.card__imageWrapper {
    width: 100%;
    height: 140px;
    margin-bottom: 12px;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card__infoContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 4px;
}

.card__metaRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.card__address {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #cc0000;
    max-width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.metaIconRed {
    color: #cc0000;
}

.card__phone {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #25D366;
}

.card__phone a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.metaIconGreen {
    color: #25D366;
}

.btnBlack {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    background: #111;
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 0.2s;
}

.btnBlack:hover {
    opacity: 0.8;
}

.btnOutlined {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 7px 0;
    background: #fff;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s;
}

.btnOutlined:hover {
    background: #f9f9f9;
}

.linkDirection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;
    font-size: 12px;
    color: #111;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}

/* .linkDirection:hover {
    color: #111;
    text-decoration: none;
    font-size: 15px;
} */


/* Tablet */
@media (max-width: 1023px) {
    .card {
        width: 250px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .card {
        width: 100%;
        max-width: 300px;
    }
}