.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
}

.card__link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

/* Circular Image */
.card__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

/* Title */
.card__title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

/* Rating */
.card__rating {
    display: flex;
    align-items: center;
    color: #000;
    gap: 8px;
    justify-content: center;
}

.googleIcon {
    font-size: 24px;
    /* adjust as needed */
}

.star {
    font-size: 16px;
    color: #f5c518;
}

.starsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-top: 6px;
}

.starFull {
    color: #f5c518;
    font-size: 18px;
}

.starHalf {
    color: #f5c518;
    opacity: 0.45;
    font-size: 18px;
}

.starEmpty {
    color: #dcdcdc;
    font-size: 18px;
}

.card__visitBtn {
    display: inline-block;
    margin-top: 14px;
    width: 80%;
    padding: 0px 5px;
    border: 2px solid #111;
    background: transparent;
    color: #111;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease;
}
.googleIcon {
    font-size: 24px;
    /* increase as needed */
}
.card__visitBtn:hover {
    color: #000;
}
/* Tablet */
@media (max-width: 1023px) {

    .card {
        width: 150px;
    }

    .card__image {
        width: 120px;
        height: 120px;
    }
}

/* Mobile */
@media (max-width: 767px) {

    .card {
        width: 130px;
    }

    .card__image {
        width: 100px;
        height: 100px;
    }

    .card__title {
        font-size: 14px;
    }
}