.strip {
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* position: sticky; */
    top: 0;
    z-index: 1100;
}

/* Desktop */
@media (min-width: 1024px) {
    .strip {
        height: 50px;
        font-size: 14px;
        letter-spacing: 1px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .strip {
        height: 45px;
        font-size: 13px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .strip {
        height: 40px;
        font-size: 12px;
    }
}

.strip__text {
    margin: 0;
    font-weight: 500;
}