.section {
    width: 100%;
    padding: 10px 0 80px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.section__header {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section__title {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #333;
}

/* Carousel */
.section__carousel {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
}

.section__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
    flex: 1;
}

/* Pagination Buttons */
.navBtn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.navBtn:hover {
    transform: scale(1.08);
}

/* Message Section */
.section__message {
    width: 70%;
    text-align: center;
}

.smallHeading {
    font-size: 24px;
    font-weight: 400;
    color: #444;
    margin-bottom: 10px;
}

.largeHeading {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #222;
}

.paragraph {
    max-width: 750px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.8;
    color: #666;
}

/* Tablet */
@media (max-width: 1023px) {

    .section__carousel {
        width: 100vw;
        gap: 20px;
    }

    .section__cards {
        gap: 40px;
        overflow: scroll;
        justify-content: flex-start;
    }

    .largeHeading {
        font-size: 44px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .section__header{
        margin-bottom: 30px;
    }

    .section__carousel {
        width: 100vw;
        gap: 12px;
        
    }

    .section__cards {
        overflow: scroll;
        gap: 50px;
        justify-content: flex-start;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
    }
    .section__cards::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari */
    }

    .largeHeading {
        font-size: 32px;
    }

    .smallHeading {
        font-size: 18px;
    }

    .paragraph {
        font-size: 15px;
    }
}